.favProd {
  position: absolute;
  left: 50px;
  top: 150px;
  display: block;
  background: #FFFFFF;
  border-radius: 33px;
}

.favProd  h2 {
  font-weight: 700;
  font-size: 20px;
  font-family: 'Poppins';
  padding: 4% 0% 0% 0%;
 margin-left: 450px;
  margin-bottom: 30px;
}
.favProd button {
  margin-left: 580px;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 39px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  }

.favProd button:hover {
  color: white;
}
