
.login {
    background: #FFFFFF;
    border-radius: 33px;
  }
  .login .loginform {
    position: absolute;
    right: 19%;
    top: 15%;
}
  
  .login  .msg {
    font-size: 14px;
        color: #B22D31;
        margin-top: 0%;
        padding-top: 0%;
        
  }
  
  .login  h2 {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Poppins';
    padding: 0 10px;
    margin-bottom: 5px !important;
    text-align: left;
   
  }
  .login .phone {
  margin-left: 10%;
    margin-top: 90px;
  }
  .login .pass {
    margin-top: 5px !important;
    margin-left: 10%;
  }
  
  .login input {
    border: 1px solid #f7f7f7;
    background: #f7f7f7;
    border-radius: 38px;
    color: #191919;
    font-size: 14px;
    text-align: left;
    width: 420px;
    margin: 15px 5px 10px 0px;
    padding: 3% 8% ;
  }
  
  .login .msg {
    font-size: 20px;
    font-weight: 700 !important;
        color: #B22D31;
      text-align: center;
      padding-top: 20px;
      
  }
  
  .login  .defaultButtonl {
  margin-left: 100px;

  margin-top: 20px;
  cursor: pointer;
  height: 50px;
  width: 70%;
  border: #B22D31;
  background: #B22D31;
  border-radius: 39px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  }
  
  .login  .defaultbuttonl:disabled {
    cursor: not-allowed;
  }
  
  @media (max-width : 768px) {
   
    .login h2{
    margin-bottom : 2px !important;
    }

    .login .loginform {
      position: absolute;
      right: 19%;
      top: 12%;
  }
  .login input {
      border: 1px solid #f7f7f7;
      background: #f7f7f7;
      border-radius: 38px;
      color: #191919;
      font-size: 14px;
      text-align: left;
      margin: 80px 50px 5px 0px;
      padding: 3px 5% ;
      width: 250px;
      align-items: center;
    }
  
    .login .phone {
      margin-left: 25%;
      height: 40px;
    }
    .login .pass {
      margin-top: 10px !important;
      margin-left: 25%;
      height: 40px;
    }
    .login .defaultButtonl {
      margin-left: 110px;
      margin-bottom: 5px;
      margin-top: 20px;
      cursor: pointer;
      height: 30px;
      width: 170px;
      border: #B22D31;
      background: #B22D31;
      border-radius: 39px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
    }
  

    .login .msg {
      font-size: 13px;
      font-weight: 700 !important;
          color: #B22D31;
        text-align: center;
        
    }
    
  }
  