.tandc{

    padding: 5px;

}

.tandc .tandch2{
  
    margin-top: 40px;
    margin-left: 50px;
    font-family: 'Poppins';
    font-weight: 600;
    text-align: center;
   
}
.tandc .tandch3 {
    text-align: justify;
    margin-left: 50px;
    margin-top: 30px;
    padding: 5px 50px;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    color: #191919;
    font-family: 'Poppins';
}


@media all and (max-width: 600px){

    .tandc .tandch2{
        margin-left: 0px;
        margin-top: 10px;
        padding: 20px;
        font-size: 28px;
    }
    .tandc .tandch3{
        text-align: justify;
    margin-left: 0px;
    margin-top: 30px;
    padding: 5px 20px;
    }


}
