

.up{
  padding-top: 10px;
  padding-left: 450px;
}

.up  h2 {
  font-weight: 700;
  font-size: 20px;
  font-family: 'Poppins';
  
  margin-bottom: 40px;
  
  margin-top: 20px;
  margin-left: 150px;
}

.up .defaultButton {
  margin-left: 100px;
margin-bottom: 20px;
margin-top: 20px;
cursor: pointer;
height: 30px;
width: 200px;
border: #B22D31;
background: #B22D31;
border-radius: 39px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;;
  }
  
 .up .defaultButton:disabled {
    cursor: not-allowed;
  }

.up input {
  border: 1px solid #f7f7f7;
  background: #f7f7f7;
  border-radius: 38px;
  color: #191919;
  font-size: 14px;
  text-align: left;
  width: 400px;
  height: 35px;
  left: 300px;
  display: block;
  margin: 10px 5px 0px 5px;

  }

.up  p {
  font-size: 14px;
      color: #B22D31;
      margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  
.up{
  padding-top: 10px;
  padding-left: 0px;
}

.up input {
  width: 320px;
  margin-left: 20px;
}

.up h2 {
  margin-left: 120px;
}

.up .defaultButton
{
  margin-left: 80px;
}
}