.span{
  margin: 10px;
  height: fit-content;
  display: block;
}

.remove {
  background-color: #B22D31 !important;
  margin-left: 25px !important;
  margin-bottom: 5px !important;
  color: white;
  height: 25px;
  width: 200px;
}

.span  h5 {
  color: black !important;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  text-align: center;
}
.figure {
  height: 280px;
  width : 200px;
  border: none;
  margin: 20px 10px !important;
  border-radius: 24px;
  background-color: white;
}

.figure .productimg {
  height: 150px !important;
  width: 150px !important;
  border-radius: 24px;
  box-shadow: none !important;
  border-color: white !important;
  padding: 10px !important;
}
.span h3 {
  font-size: 5px;
  color: #FFFFFF;
}

.figure:hover {
background-color: #f5d6d9cc;
}