.prod {
    border: none;
    background-color: transparent;
    display: block;
}

.prod .li {
    list-style: none !important;
    list-style-type: none !important;
    padding: 0%;
    margin: 2px;
    padding: 2px 5px;
    border-radius: 20px;
    background-color: #B22D31;
    cursor: pointer;

}
.prod h6 {
    color:white;
    font-weight: 500;
    font-size: 18px;
    margin: 0%;
    padding: 0%;
    font-style: normal;
    text-align: center;
}

.prod h3 {
    display: none;
}

.prod img {
    width: 100px;
    height: 30px;
}