
.abc{
  flex: 0 0 25%;
  max-width: 25%;
  float: left;
  padding-bottom: 3%;
}
    .figureProd {
      background: #FFFFFF;
      box-shadow: 0px 4px 19px rgb(0 0 0 / 7%);
      border-radius: 24px;
      height: 216px;
      padding: 30px 0px 19px 0px;
      width: 120px !important;
      text-align: center;
    }
 .figureProd:hover{

        box-shadow: 0px 5px 22px rgb(17 17 18 / 7%);
        border-radius: 24px;
        background: #f5d6d9cc;
      }
      
.figureProd img {
        vertical-align: middle;
        border-style: none;
        padding: 11px 10px;
        width: 120px;
        object-fit: contain;
      }
      
      h5 {
        font-weight: 500;
        font-size: 18px;
        font-style: normal;
        color: #191919;
        text-align: center;
        height: 100px;
      }

      h3 {
         color: white;
         font-size: 1px;
      }
      
 
      a {
        color: #191919 !important;
      }
      
      a:hover {
        color: #b22d31 !important;
        text-decoration: none;
      }
      

 .figureProd img {
        height: 155px;
        z-index: 9;
        position: relative;
        width: 120px;
      }
    
 .figureProd .like {
        border-radius: 50% !important;
        background-color: transparent;
        margin-left: 60px;
        position: absolute;
        z-index: 99;
        right: 10%;
        border: 1px solid white;
    
    }
    .figureProd .like .likebutton {
        padding-top: 5px;
        background-color: rgba(245, 214, 217, 0.8);
        border: 1px solid white !important;
        border-radius: 50%;
        vertical-align: middle;
    }
    
    .figureProd .like .likebutton .fa-heart {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    
      @media only screen and (max-width: 600px) {

        .abc {
          flex: 0 0 25%;
          max-width: 25%;
          float: left;
          padding-bottom: 3%;
      }
      .col-6 {
          flex: 0 0 50%;
          max-width: 50% !important;
      }
  .figureProd {
            height: 158px;
            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgb(0 0 0 / 7%);
            margin:0;
            padding: 0;
            border-radius: 24px;
            text-align: center;
        }
        
    
   .figureProd img {
            height: 108px;
            z-index: 9;
            position: relative;
            width: 100px !important;
        }
        
      }
      