.span {
    display: block;
    height: fit-content;
    }
    
    .span  h5 {
        color: black !important;
        font-weight: 500;
        font-size: 18px;
        font-style: normal;
        text-align: center;
    }
    .figure {
        height: 220px;
        width : 250px;
        border: none;
        margin: 20px 30px 10px 0px !important;
        border-radius: 24px;
        background-color: white;
     }
     
    .figure .productimg {
        height: 150px !important;
        width: 150px !important;
        border-radius: 24px;
        box-shadow: none !important;
        border-color: white !important;
        padding: 10px 10px 25px 10px !important;
    }
    .span h3 {
        font-size: 5px;
        color: #FFFFFF;
    }
    
    .figure:hover {
      background-color: #f5d6d9cc;
    }