.content_section {
    overflow: hidden;
    background: #b22d31;
    border: 1px solid #b22d31;
    border-radius: 40px;
    margin: 50px 65px 20px 65px;
    padding: 40px;
    text-align: center;
    
}

.joinh4 {
    color: #fff;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    margin: 1% 20px 30px;
    font-family: 'Poppins';
}

.loginh3j{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #191919;
    padding-left: 0px;
    
    padding-top: 300px;
  }
  
 .loginh3j .link {
    color: #B22D31;
    border: none;
    background-color: transparent;
  }
  
.loginh3j .link a{
    font-weight: bold;
    text-align: center;
  }

 .content p {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-family: 'Poppins';
    width: 50%;
    margin: 0 auto;
    font-style: normal;
}

.content .joinbtn {
    background: #ffb800;
    border: 1px solid #ffb800;
    border-radius: 80px;
    width: 168px;
    height: 42px;
    margin: 27px 2px 0px 0px !important;
    font-weight: 600;
    font-size: 18px;
    color: #000;
}
.signuph3j{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #191919;
    padding-left: 100px !important;
    /* margin-top: 100px; */
    padding-top: 20px;
  }
  
 .signuph3j .link {
    color: #B22D31;
    border: none;
    background-color: transparent;
  }
  
 .signuph3j .link a{
    font-weight: bold;
    text-align: center;
  }

  .sign_up .defaultButtonsj {
    margin-left: 24%;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  height: 50px;
  width: 70%;
  border: #B22D31;
  background: #B22D31;
  border-radius: 39px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;;
    }
    
   .sign_up .defaultButtonsj:disabled {
      cursor: not-allowed;
    }

@media only screen and (max-width: 600px) {

.content_section {
    margin: 50px 25px 0px 25px;
    padding: 27px 0px;
}

.content_section.joinh4 {
    font-size: 21px;
}

.loginh3j {
   padding-left: 0px !important;
}
.content_section p {
    width: 80%;
    font-size: 12px;
}

.content_section .joinbtn {
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.signuph3j{
    padding-left: 0 !important;
    padding-top: 10px;
}

.sign_up .defaultButtonsj {
    margin-left: 0% !important;
  margin-bottom: 10px;
  margin-top: 15px;
  cursor: pointer;
  height: 30px;
  width: 150px;
  border: #B22D31;
  background: #B22D31;
  border-radius: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
    }
}