.like {
    border-radius: 50% !important;
    background-color: transparent;
    margin-left: 60px;
    position: absolute;
    z-index: 99;
    right: 10%;
    border: 1px solid white;

}
.like .likebutton {
    padding-top: 5px;
    background-color: black;
    border: 1px solid white !important;
    border-radius: 50%;
    vertical-align: middle;
}

.fa-heart {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}




