.like {
    border-color: transparent !important;
    padding: none;
    border-radius: 50px !important;
    background-color: transparent;
    margin-left: 60px;
}
.like button {
    padding: 3px;
    border: transparent !important;
    background-color: transparent;
}




