.remove {
    background-color: #B22D31 !important;
    margin-left: 35% !important ;
    margin-bottom: 5px !important ;
    padding-bottom: 5px !important;
    color: white;
    height: 25px;
    width: fit-content;
    border-radius: none !important;
  }
  @media only screen and (max-width: 600px)
{
    .remove {
        background-color: #B22D31 !important;
        margin-left: 25px !important ;
        margin-bottom: 5px !important ;
        padding-bottom: 5px !important;
        color: white;
        height: 25px;
        width: fit-content;
        border-radius: none !important;
      }  
}