@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    font-family: "Poppins";
}

.my-navbar {
    box-shadow: 0px 10px 30px rgba(225,225,225, 100%);
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 999;
    background: #fff4f5;
}

.signup {
    border: 1px solid #b22d31;
    border-radius: 40px;
    background: #fff4f5;
    color: #b22d31 !important;

    padding: 4px 10px !important;

    

    margin: 0px 10px;
   height: 35px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand img {
    width: auto;
}

nav .fa-search {
    border: none;
    background-color: transparent;
}

nav .container-fluid {
    padding: 0px 46px;
}

.nav-link {
    transition: 0.3s ease;
    padding: 5px;
}

a.nav-link {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins';
    font-style: normal;
}
.nav-item ul li {
    display: inline-block;
}
.nav-item ul{
   
    border: 1px solid #b22d31;
    border-radius: 40px;
    background: #fff4f5;
    color: #b22d31 !important;
    padding: 0px 10px;
    margin: 0px 10px;

}
.nav-item .dropdown-menu{
    border: none !important;
    background: white;
    min-width: 5rem !important;
}

/* search bar css */

  .searchbutton {
    border: 0;
    background: transparent;
    font-size: 18px;
    
 
  }

  .searchbutton:active, .searchbutton:hover, .searchbutton:focus {
    color: #000;
    outline: none;
    box-shadow: none;
  }
  .searchbar {
    background-color: #fff;
    border-radius: 9px;
    border: 1px solid #b22d3159;
    color: #000;
    font-size: 15px;
    padding: 5px;
    width: 250px;
    position: absolute;
    right: 7%;
    top: 100%;
  }

  .searchbutton2 {
    background: transparent;
    font-size: 15px;
    border-radius: 50px;
    border-color: white;
    background-color: #b22d31;
    color: white;
  }
  .searchbutton2:active, .searchbutton2:hover, .searchbutton2:focus {
    color: #000;
    outline: none;
    box-shadow: none;
    color: white;
  }

  .dataResult {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  #clearBtn {
    cursor: pointer;
  }

  .list {
    display: block;
  }
  .fa-close {
    margin-right: 17px;
}

  @media only screen and (max-width: 600px) {

  .nav-link {
        color: #000 !important;
    }
    .dropdown-toggle{
        padding-left: 26px;
    }
    .fa-bars {
        margin-left: 50px;
        margin-right: 20px;

    }
    .searchbutton{
        position: absolute;
        right: 22%;
        top: 20px;
    }

    .searchbar{
        margin-top: 42px;
        margin-left: 15px;
        margin-right: 5px;
    }
    .fa-close {
        margin-top: 5px;
        margin-left: 150px;
        margin-right: 10px;

    }

    .fa-user{
        margin-top: 5px;
        margin-left: 150px;
        margin-right: 10px;
    }
    /* ul.navbar-nav,
    .fa-search {
        padding-left: 22px;
    } */
    a.nav-link.dropdown-toggle:before {
        content: "\f002";
        float: left;
        margin-top: -2px;
        font-family: 'FontAwesome';
        margin-right: 13px;
    }
    #navbarNav .fa-search{
        display: none;
    }
    a.nav-link:hover {
        background: #f9f9f9;
        border: 1px solid #f9f9f9;
        border-radius: 40px;
        /* padding-left: 26px; */
    }

    .signup {
        padding: 7px 10px !important;
        width: fit-content;
        margin-left: -9px;
    }
    .navbar-form-search {
        position: absolute;
        right: 54px;
        top: 11px;
    }
    .nav-item ul {
        border: 1px solid #b22d31;
        border-radius: 40px;
        background: #fff4f5;
        color: #b22d31 !important;
        padding: 0px 7px;
        margin: 12px 10px 13px -9px;
        width: fit-content;
    }
    .nav-item ul li a{
        background: transparent;
    border: 1px solid transparent;
    }
    .nav-item ul li a:hover{
        background: transparent !important;
    border: 1px solid transparent !important;
    }
    .searchform {
        position: absolute;
        right: 19%;
        top: 0;
    }

    /* nav .fa-search {
        border: none;
        background-color: transparent;
        position: absolute;
        right: 60px;
        font-size: 19px;
        color: #646060;
        top: 21px;
    } */

    nav .fa-search:focus {
        color: #b22d31;
        outline: none;
    }

    .navbar-toggler:focus {
        color: #b22d31 !important;
        outline: none;
    }
    .navbar-nav .dropdown-menu{
        background: transparent;
    }
}


@media (min-width: 720px) and (max-width: 767px){
    .navbar-form-search{
        position: absolute;
        top: 9px !important;
        right: 70px;

    }
    .userli ul{
        padding: 0px 20px 0px 20px;
        margin: 16px 10px 10px -9px;
        width: fit-content;
        border-radius: 40px;
        }
        .userli ul:hover{
            border-radius: 10px;
        }
        .userli ul li a{
            background: transparent;
        border: 1px solid transparent;
        padding-left: 25px;
        }
        .userli ul li a:hover{
            background: transparent !important;
        border: 1px solid transparent !important;
        }
        .userli .dropdown-menu{
            background: transparent;
        }
        .userli .dropdown-toggle:hover{
            padding-left: 25px;
        }
        .signup {
            padding: 7px 10px !important;
            margin-left: -11px !important;
            width: fit-content;
        }
        .signupli{
            margin-top: 13px;
        }
}


@media (min-width: 600px) and (max-width: 667px) {
    .fa-search {
        border: none;
        background-color: transparent;
        position: absolute;
        top: 21px;
        right: 63px;
    }

    .signup {
        padding: 7px 10px !important;
        margin-left: -11px !important;

    }
    .signupli{
        margin-top: 13px;
    }

    nav ul {
        padding-left: 20px !important;
    }

    .userli ul{
        padding: 0px 20px 0px 20px;
        margin: 16px 10px 10px -12px;
        width: fit-content;
        border-radius: 40px;
        }
        .userli ul:hover{
            border-radius: 10px;
        }
        .userli ul li a{
            background: transparent;
        border: 1px solid transparent;
        padding-left: 25px;
        }
        .userli ul li a:hover{
            background: transparent !important;
        border: 1px solid transparent !important;
        }
        .userli .dropdown-menu{
            background: transparent;
        }
        .userli .dropdown-toggle:hover{
            padding-left: 25px;
        }
        .navbar-form-search{
            position: absolute;
            top: 1px;
            right: 25px;
    
        }
        .navbar-form-search .search-form-container{
            right: 80px;
        }
        
    
}


@media (min-width: 768px) and (max-width: 1024px) {

    /* .fa-search {
        border: none;
        background-color: transparent;
        position: absolute;
        top: 21px;
        right: 90px;
    } */

    .signup {
        padding: 7px 10px !important;
        margin-left: -33px !important;
    }

    nav ul {
        padding-left: 20px !important;
    }

    .navbar-form{
        position: absolute;
        right: 65px;
        top: 12px;
    }
    .navbar-form-search .search-form-container{
        right: 30px;
        top: 0px;
    }
    .signupli{
        padding-left:26px;
        padding-bottom: 15px;
        width: fit-content;
        margin-top: 2%;
    }
    .userli {
        width: fit-content;
        margin-left: -15px;
    }
    .subscribe button{
        margin-top: 10px;
        margin-left: 10px;
    }
    .userli ul{
        padding: 0px 18px;
    }
    .userli ul:hover{
        border-radius: 10px;
    }
    .nav-item .dropdown-menu{
        background: transparent;
    }

   
        form.searchform {
            position: absolute;
            right: 12%;
            top: 0;
    margin-top: 3%;
        }
    


}

@media all and (width: 740px) and (height: 360px) and (orientation:landscape){

    .fa-search{
        position: absolute;
        top: 22px;
        right: 60px;
    }
    .signup {
        padding: 7px 10px !important;
        margin-left: -10px;
    }
    #navbarNav{
        padding-left: 21px;
    }
    .navbar-form-search{
        position: absolute;
        top: 3px !important;
        right: 25px;

    }
    .userli ul{
    padding: 0px 20px 0px 20px;
    margin: 16px 10px 10px -9px;
    border-radius: 40px;
    }
    .userli ul:hover{
        border-radius: 10px;
    }
    .userli ul li a{
        background: transparent;
    border: 1px solid transparent;
    padding-left: 25px;
    }
    .userli ul li a:hover{
        background: transparent !important;
    border: 1px solid transparent !important;
    }
    .userli .dropdown-menu{
        background: transparent;
    }
    .userli .dropdown-toggle:hover{
        padding-left: 25px;
    }
    .navbar-form-search .search-form-container{
        right: 80px;
    }
    

}

@media all and (width: 915px) and (height: 412px) and (orientation:landscape){

    .position_banner {
        height: 268px;
    }
    .product .carousel-item img{
        width: 60%;
    }

}


