 .dialogStylesSignUp  {
    width: 500px;
    height: 600px;
    max-width: 100%;
    position: fixed;
    border: none;
    border-radius: 33px;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    z-index: 999;
    font-weight: bold;
    background-color: white;
    padding: 10px 20px 0px;
    display: inline;
    flex-direction: column;
}

.dialogStylesSignUp .dialogCloseButtonStylesSignUp {
    cursor: pointer;
    border: none;
    color : grey;
    width: 50px;
    height: 50px;
    background-color: transparent;
    font-weight: bold;
    margin-left: 400px ;
}

@media only screen and (max-width: 600px) {
    .dialogStylesSignUp  {
        width: 300px;
        height: 600px;
        max-width: 100%;
        position: fixed;
        border: none;
        border-radius: 33px;
        left: 50%;
        top: 65%;
        transform: translate(-50%,-50%);
        z-index: 999;
        font-weight: bold;
        background-color: white;
        padding: 5px 5px 0px;
        display: inline;
        flex-direction: column;
    }

    .dialogStylesSignUp .dialogCloseButtonStylesSignUp {
          cursor: pointer;
        border: none;
        color : grey;
        width: 50px;
        height: 50px;
        margin-left: 250px ;
        z-index: 999;
        background-color: transparent;
        font-weight: bold;
    }
}
